.*
~*
!.gitignore
!.env.example
!.envrc.example
!.bumpversion.cfg
!.flake8
!.isort.cfg
!.pre-commit-config.yaml
!tests/.coveragerc
!.python-version

__pycache__
dist

poetry.lock
db.sqlite3
*.egg-info
*.pyc
